@model IEnumerable<WebAppInfoPersoMVC.Models.IOTSigfox>

@{
    ViewBag.Title = "Sigfox";
}

<h2>Sigfox</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    Numbers of Online Users    <strong id="counter" > </strong>

    <script src="~/scripts/jquery-1.10.2.js"></script>
    <script src="~/scripts/jquery.signalR-2.2.1.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(
                function ()
                {
                    //add jquery and signal-signalr js , it have to before ~/signalr/hubs
                    //add jquery ~/signalr/hubs
                    //setup hubs    
                    var counterhub=$.connection.NotificationHub;//decalre variable for NotificationHub,
                    //you can see the name of the hub difference, you can get right name when you view the link of ~/signalr/hubs
                    $.connection.hub.start().done(
                                                    function()
                                                    {
                                                        //do something after the hub connected
                                                    }
                    );

                    //function to receive data from the server ,server call in on code behind
                    counterhub.client.UpdateCount = function (counter)
                    {
                        $("#counter").text(counter);//i update trong tag have id as counter.
                    }




                }
        );
    </script>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.device)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.snr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.linkQuality)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.device)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.snr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.linkQuality)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
